
.row
  .col-md-8
    %h3.mb-30 
      %strong Review and book

    %h5
      %strong Who will be seeing the doctor? 

    %ul
      %li  
        = link_to "javascript:void(0)" do
          %p
            = current_user.fullname
            (Me)
      %li
        = link_to "javascript:void(0)" do
          %p Some one else

               



  .col-md-4