.row
  %h4 
    Friends (#{@friends.size})
    %a{href: "/edit?friend=true"}
      %button.btn-circle.btn.btn-primary{:type => "button"}
        %i.glyphicon.glyphicon-plus
  - @friends.each do |friend|
    .col-md-4
      .panel.panel-default
        .panel-heading.preview
          = image_tag("/assets/default-friend.jpg")
        .panel-body.text-center
          %strong= friend.fullname.capitalize
  .clearfix        
  %strong= link_to "View more", "javascript:void(0)", class: 'pull-right'  if @friends.length > 3