.row
  .col-md-12
    - if @friends.size > 0
      %h4
        Family Members (#{@friends.size})
      .row
        - @friends.each do |friend|
          .col-md-4
            .panel.panel-default
              .panel-heading.preview
                = image_tag("/assets/friend.jpg")
              .panel-body.text-center
                %strong= friend.name.titleize
    - else
      %h4.text-center 
        There is no friends yet to refer.
        
    = link_to "Refer a Friend", edit_user_registration_path(friend: true), class: 'pull-right'  