%section.page-footer.p-b-0.ng-scope
  .container
    .footer-sitemap
      .row.ng-isolate-scope.accordion-footer{"ui-accordion" => "", "ui-accordion-footer" => ""}
        .col-md-10.col-md-offset-1
          .col-md-4.col-sm-4
            .footer-left
              %img{:src => "/assets/home/footer-logo.png"}/
              %ul.social-list
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.fa.fa-twitter
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.fa.fa-facebook
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.fa.fa-pinterest-p
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.fa.fa-google-plus
                %li
                  %a{:href => "javascript:void(0)"}
                    %i.fa.fa-instagram
              .thumbtack-box
                %a{:href => "javascript:void(0)"}
                  %img{:src => "/assets/home/thumbtack-icon.png"}/
                  .thumbtack-textContainer
                    %span Thumbtack Guarantee
                    %span $1M Property Protection
          .col-md-8.col-sm-8.clearbox
            .col-sm-3
              .item.ng-scope{"ui-accordion-item" => ""}
                %h4.text-uppercase.m-b-40.title
                  %a{"ng-click" => "toggle()", "ng-href" => "", "ng-transclude" => "", "ui-accordion-item-toggle" => ""}
                    %span.ng-scope Company
                %ul.list-unstyled.text-short{:style => ""}
                  %li
                    %a{:href => "javascript:void(0)"} About
                  %li
                    %a{:href => "javascript:void(0)"} Jobs
                  %li
                    %a{:href => "javascript:void(0)"} Team
                  %li
                    %a{:href => "javascript:void(0)"} Blogs
            .col-sm-3
              .item.ng-scope{"ui-accordion-item" => ""}
                %h4.text-uppercase.m-b-40.title
                  %a{"ng-click" => "toggle()", "ng-href" => "", "ng-transclude" => "", "ui-accordion-item-toggle" => ""}
                    %span.ng-scope Customers
                %ul.list-unstyled.m-b-40.text-short{:style => ""}
                  %li
                    %a{:href => "javascript:void(0)"} How it works
                  %li
                    %a{:href => "javascript:void(0)"} Safety
                  %li
                    %a{:href => "javascript:void(0)"} iPhone app
                  %li
                    %a{:href => "javascript:void(0)"} Services Near Me
                  %li
                    %a{:href => "javascript:void(0)"} Cost Estimates
                  %li
                    %a{:href => "javascript:void(0)"} Service Guides
            .col-sm-3.ng-scope{"ui-accordion-item" => ""}
              .item.ng-scope{"ui-accordion-item" => ""}
                %h4.text-uppercase.m-b-40.title
                  %a{"ng-click" => "toggle()", "ng-href" => "", "ng-transclude" => "", "ui-accordion-item-toggle" => ""}
                    %span.ng-scope Pros
                %ul.list-unstyled.text-short{:style => ""}
                  %li
                    %a{:href => "javascript:void(0)"} How it works
                  %li
                    %a{:href => "javascript:void(0)"} Sign up
                  %li
                    %a{:href =>"javascript:void(0)"} Pro center
                  %li
                    %a{:href => "javascript:void(0)"} Success stories
                  %li
                    %a{:href => "javascript:void(0)"} Mobile app
            .col-sm-3.ng-scope{"ui-accordion-item" => ""}
              .item.ng-scope{"ui-accordion-item" => ""}
                %h4.text-uppercase.m-b-40.title
                  %a{"ng-click" => "toggle()", "ng-href" => "", "ng-transclude" => "", "ui-accordion-item-toggle" => ""}
                    %span.ng-scope Support
                %ul.list-unstyled.text-short{:style => ""}
                  %li
                    %a{:href => "javascript:void(0)"} Help center
    .page-bottom
      .col-md-10.col-md-offset-1
        .col-md-6.col-sm-6.clearbox
          %p © 2017 Thumbtack, Inc.
        .col-md-6.col-sm-6.clearbox
          %ul.footer-links
            %li
              %a{:href => "javascript:void(0)"} Privacy Policy
            %li
              %a{:href => "javascript:void(0)"} Terms of use