%section.CategoryNavV3
  .container
    .col-md-10.col-md-offset-1
      %ul.CategoryNavV3-list
        %li.CategoryNavV3-item
          %a{:href => "/categories/other"}
            %img{:src => "/assets/home/icon-gray-5.png"}/
            %span General
        %li.CategoryNavV3-item
          %a{:href => "/categories/plastic-surgeon/"}
            %img{:src => "/assets/home/icon-gray-2.png"}/
            %span Plastic Surgeon
        %li.CategoryNavV3-item
          %a{:href => "/categories/eye-doctor/"}
            %img{:src => "/assets/home/icon-gray-4.png"}/
            %span Eye Doctor
        %li.CategoryNavV3-item
          %a{:href => "/categories/dentist/"}
            %img{:src => "/assets/home/icon-gray-1.png"}/
            %span Dentist
        %li.CategoryNavV3-item
          %a{:href => "/categories/dermatologist/"}
            %img{:src => "/assets/home/icon-gray-5.png"}/
            %span Dermatologist
        %li.CategoryNavV3-item
          %a{:href => "/categories/chiropractor/"}
            %img{:src => "/assets/home/icon-gray-3.png"}/
            %span Chiropractor
        %li.CategoryNavV3-item
          %a{:href => "/categories/Neurologist/"}
            %img{:src => "/assets/home/icon-gray-3.png"}/
            %span Neurologist
        %li.CategoryNavV3-item
          %a{:href => ""}
            %img{:src => "/assets/home/more-icon.png"}/
            %span More            