.form-group
  %h2.title-box Recent Leads
  .leads-title
    User Requesting Appointment
    %span.pull-right Dates Created
  %ul.to-do-list.recent-leads
    - @leads.each do |patient|
      %li
        %span.avatar-box
          = image_tag avatar_url(patient), class: 'img-responsive rounded' 
        .extra-wrap
          %p.messages-box
            %a{:href => user_path(patient)}
              = patient.fullname
          %span.hours-info Apr 29

    %center
      %a.see-all-link{:href => leads_path(current_doctor) } See All My Leads