.col-md-9              
  .mainpanel

    .contentpanel
      .green-header-box
        .col-md-9
          %h1
            Refer your colleagues and
            %span get free credits
          %p Credits can get you more exposure, free add-ons, a higher trustmeter  much more!
        .col-md-3
          %a.btn.btn-default.btn-block.border-btn{:href => "javascript:void(0)"} Refer my colleagues

      .row
        .col-md-6= render "to_do_list"
          
        .col-md-6= render "trust_meter"

