.container-fluid
  .my-50
    .row

      .col-md-7.no-padding
        .panel.panel-default
          .panel-heading
            Search results
          .panel-body.box
            .col-md-12
              - @rooms.each do |room|
                - @reviews = room.reviews 
                - @room = room
                - @photos = room.photos
                - @upgraded = (room.is_upgraded?) ? true : false
                = render "rooms/room_card"

      .col-md-5.no-padding         
        .panel.panel-default
          .panel-heading
            Rooms on map
          .panel-body.box
            #map



- content_for :javascript do 
  :javascript
    var height = $('.col-md-7').height();

    $("#map").height(height);
    
    handler = Gmaps.build('Google');
    handler.buildMap(
    { 
      provider:{
          disableDefaultUI: true, zoom: 3
      }, 
      internal: {
        id: 'map'
      }
    }, function(){

    markers = handler.addMarkers(#{raw @hash.to_json });
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(2)
    });



 