.col-md-3
  .leftpanel

    .profile-info
      
      .user-profile.media
        .col-md-5
          %a.pull-left.profile-thumb{:href => user_path(current_doctor)}
            -#%img.img-circle{:alt => "", :src => "/assets/user1.png"}/
            = image_tag avatar_url(current_doctor), class: 'img-circle' 
        .col-md-7            
          .media-body
            %h4.media-heading #{current_user.fullname.capitalize}
            %small.text-muted
              %a{:href => "/edit?personal=true"} Edit profile


      %p Complete your profile:
      %ul.profile-list
        %li
          %a{:href => "javascript:void(0)"} Email
          - if current_doctor.email.present?
            %i.fa.fa-check
          - else
            %a.pull-right.add{:href => "/edit?personal=true"} Add


        %li
          %a{:href => "javascript:void(0)"} Date of birth
          - if current_doctor.birthday.present?
            %i.fa.fa-check
          - else
            %a.pull-right.add{:href => "/edit?personal=true"} Add          

        %li
          %a{:href => "javascript:void(0)"} Gender
          - if current_doctor.gender.present?
            %i.fa.fa-check
          - else
            %a.pull-right.add{:href => "/edit?personal=true"} Add

        %li
          %a{:href => "javascript:void(0)"} Phone
          - if current_doctor.phone_number.present?
            %i.fa.fa-check
          - else
            %a.pull-right.add{:href => "/edit?personal=true"} Add

        %li
          %a{:href => "javascript:void(0)"} Where you live
          - if false
            %i.fa.fa-check
          - else
            %a.pull-right.add{:href => "/edit?personal=true"} Add          
      %span Your personal profile information is private and will not be shared


    -#.logopanel
      %h1
        %img{:src => "/assets/gotdoc-logo.png"}/
    / logopanel
    .leftpanelinner
      %ul.nav.nav-pills.nav-stacked.nav-bracket
        %li.active
          %a{:href => "/dashboard"}
            %i.fa.fa-home
            %span Dashboard
        %li
          %a{:href => "/rooms"}
            %i.fa.fa-map-marker
            %span Listings
        %li
          %a{:href => leads_path(current_doctor)}
            %i.fa.fa-check
            %span Leads
        %li
          %a{:href => "javascript:void(0)"}
            %i.fa.fa-plus-circle
            %span Add-Ons
        %li
          %a{:href => "javascript:void(0)"}
            %i.fa.fa-calendar
            %span My Calendar
        %li
          %a{:href => "/conversations"}
            %i.fa.fa-comment-o
            %span Messages
        %li
          %a{:href => "/edit?personal=true"}
            %i.fa.fa-cog
            %span Account Setting