.container-fluid
  .row
    %section
      = render "sidebar"
      = render "main_panel"


/ -#.headerbar
/   %a.menutoggle
/     %i.fa.fa-bars
/   .header-right
/     %ul.headermenu
/       %li
/         .btn-group
/           %button.btn.btn-default.dropdown-toggle.tp-icon{"data-toggle" => "dropdown"}
/             %i.fa.fa-question{"aria-hidden" => "true"}
/           .dropdown-menu.dropdown-menu-head.pull-right
/             %h5.title You Have 1 New Message
/             %ul.dropdown-list.gen-list
/               %li.new
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user1.png"}/
/                   %span.desc
/                     %span.name
/                       Draniem Daamul
/                       %span.badge.badge-success new
/                     %span.msg Lorem ipsum dolor sit amet...
/               %li
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user2.png"}/
/                   %span.desc
/                     %span.name Nusja Nawancali
/                     %span.msg Lorem ipsum dolor sit amet...
/               %li
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user3.png"}/
/                   %span.desc
/                     %span.name Weno Carasbong
/                     %span.msg Lorem ipsum dolor sit amet...
/               %li
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user4.png"}/
/                   %span.desc
/                     %span.name Zaham Sindilmaca
/                     %span.msg Lorem ipsum dolor sit amet...
/               %li
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user5.png"}/
/                   %span.desc
/                     %span.name Veno Leongal
/                     %span.msg Lorem ipsum dolor sit amet...
/               %li.new
/                 %a{:href => ""} Read All Messages
/       %li
/         .btn-group
/           %button.btn.btn-default.dropdown-toggle.tp-icon{"data-toggle" => "dropdown"}
/             %i.fa.fa-bell-o{"aria-hidden" => "true"}
/           .dropdown-menu.dropdown-menu-head.pull-right
/             %h5.title You Have 5 New Notifications
/             %ul.dropdown-list.gen-list
/               %li.new
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user4.png"}/
/                   %span.desc
/                     %span.name
/                       Zaham Sindilmaca
/                       %span.badge.badge-success new
/                     %span.msg is now following you
/               %li.new
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user5.png"}/
/                   %span.desc
/                     %span.name
/                       Weno Carasbong
/                       %span.badge.badge-success new
/                     %span.msg is now following you
/               %li.new
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user3.png"}/
/                   %span.desc
/                     %span.name
/                       Veno Leongal
/                       %span.badge.badge-success new
/                     %span.msg likes your recent status
/               %li.new
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user3.png"}/
/                   %span.desc
/                     %span.name
/                       Nusja Nawancali
/                       %span.badge.badge-success new
/                     %span.msg downloaded your work
/               %li.new
/                 %a{:href => ""}
/                   %span.thumb
/                     %img{:alt => "", :src => "/assets/user3.png"}/
/                   %span.desc
/                     %span.name
/                       Nusja Nawancali
/                       %span.badge.badge-success new
/                     %span.msg send you 2 messages
/               %li.new
/                 %a{:href => ""} See All Notifications
/       %li
/         .btn-group
/           %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
/             %img{:alt => "", :src => "/assets/loggeduser.png"}/
/             John Doe
/             %span.caret
/           %ul.dropdown-menu.dropdown-menu-usermenu.pull-right
/             %li
/               %a{:href => "profile.html"}
/                 %i.glyphicon.glyphicon-user
/                 My Profile
/             %li
/               %a{:href => "javascript:void(0)"}
/                 %i.glyphicon.glyphicon-cog
/                 Account Settings
/             %li
/               %a{:href => "javascript:void(0)"}
/                 %i.glyphicon.glyphicon-question-sign
/                 Help
/             %li
/               %a{:href => "signin.html"}
/                 %i.glyphicon.glyphicon-log-out
/                 Log Out
/   / header-right
/ / headerbar




/ .container

/   .my-50

/     %h4 Dashboard

/     .row.dashboard.panel.text-center
/       .col-md-3.borderright.task
/         %h3 1. List your practice
/         %p Submit your practice to the directory. Our approval team will review your application and notify you when it's live.
/         %i.fa.fa-check{"aria-hidden" => "true"}
/       .col-md-3.borderright.task
/         %h3 2. Raise your trustmeter
/         %p Our alongrithm ranks your profile based on a trust meter store. Follow these steps on how to get raise your score.
/         %a.btn.btn-warning{:href => ""} Raise your score
/       .col-md-3.borderright.task
/         %h3 3. Connect your leads
/         %p Use our add-on tools to integrate your leads with your favorite lead management software. CRM, Email Marketing, Software...
/         %a.btn.btn-warning{:href => ""} Connect Leads
/       .col-md-3.task
/         %h3 4. Upgrade your account
/         %p Want to be featured and increase your leads? Get your listing featured, earn more patients, all in a matter of minutes.
/         %a.btn.btn-warning{:href => ""} Upgrade account

/     .col-md-12.nopadding


/       .col-md-4.nopadding
/         .panel.task
/           %h2 Leads created
/           .col-md-6
/             %a.btn.btn-block.btn-dark{:href => ""} All time
/           .col-md-6.nopadding
/             %a.btn.btn-block.btn-warning{:href => ""} Last 30 days
/           %p.leads.text-center= current_user.reservations.count(:all)
/           %a.btn.btn-block.btn-warning{:href => ""} See all appointments


/       .row.col-md-5
/         .col-md-12.panel.task
          
/           %h3 Messages
/           - @conversations.each do |conversation|
/             - other = conversation.sender == current_user ? conversation.recipient : conversation.sender
/             = link_to conversation_messages_path(conversation) do
/               .col-md-3
/                 = image_tag avatar_url(other)
/                 %br/
/                 = other.fullname
/               .col-md-7
/                 = conversation.messages.last.content
/               .col-md-2.date
/                 = conversation.messages.last.message_time


/       .col-md-3.nopadding.text-center
/         .panel.task
/           = image_tag avatar_url(current_user), class: 'img-circle dashimage'
/           %br/
/           %h4= current_user.fullname
/           %a.btn.btn-block{:href => user_path(current_user) } View Profile
/           %a.btn.btn-block{:href => edit_user_registration_path(personal:true)} Edit Profile
