

= render "search"
= render "categories"
   
              

%section.carousel-container
  .container
    .col-md-10.col-md-offset-1
      .carousel-box
        %h4 Search by symptom
        .nbs-flexisel-container
          .nbs-flexisel-inner
            %ul#flexiselDemo.nbs-flexisel-ul{:style => "left: -1610px; display: block;"}
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
              %li.nbs-flexisel-item{:style => "width: 230px;"}
                .slider-box
                  %img{:src => "/assets/home/slider-1.jpg"}/
                  %p Cold & Flue
        %center
          %a.btn.btn-default.see-all-btn{:href => "javascript:void(0)"} See all Symptoms



%section.section-text-blocks.how-it-works.p-b-40
  .container.text-center
    %h2.m-t-80.m-b-80 How it works
    .row
      .m-b-80.col-sm-4.col-lg-4
        %article.text-block
          %header
            .hiw-icon.icon-find
            %hr/
          %h3.text-uppercase.m-b-40
            Search
          %p.text-short Post a job to tell us about your project. We'll quickly match you with the right freelancers.
      .m-b-80.col-sm-4.col-lg-4
        %article.text-block
          %header
            .hiw-icon.icon-hire
            %hr/
          %h3.text-uppercase.m-b-40
            Book
          %p.text-short Browse profiles, reviews, and proposals then interview top candidates. Hire a favorite and begin your project.
      .m-b-80.col-sm-4.col-lg-4
        %article.text-block
          %header
            .hiw-icon.icon-work
            %hr/
          %h3.text-uppercase.m-b-40
            Visit
          %p.text-short Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.


%section.section-text-blocks.how-gotdoc-works.bg-cloud.p-b-40
  .container
    %h2.m-t-80.m-b-80.text-center How GotDoc works
    .col-md-10.col-md-offset-1
      .m-b-80.col-sm-6.col-lg-6
        %article.text-block
          %img{:src => "/assets/home/how-to.png"}/
      .m-b-80.col-sm-6.col-lg-6
        %article
          %h3 1. Tell us what you need
          %p First answer a few quick questions about what type of pro you're looking for.
          %h3 2. Review free quotes
          %p Within hours, you'll receive up to five custom quotes based on your specific needs.
          %h3 3. Hire the right pro
          %p Compare quotes, profile, and reviews, then hire the pro that's right for you.
      .clearfix.visible-sm.visible-md



%section.app-install
  .page-grid
    .app-content
      %h3.AppUpsell-title Get more done anytime, anywhere
      %p.AppUpsell-text
        Send project requests, get quotes, and hire the right pro with the free Thumbtack app for iPhone.
      .AppUpsell-input.InputButtonGroup
        %input.ng-pristine.ng-valid{:name => "cellphone", :placeholder => "Phone number", :type => "text"}/
        %button.Button.ng-binding{:type => "submit"} Text me a link
      %p.AppUpsell-helper
        %img{:src => "/assets/home/ios-app-store-download.svg"}/




%section.__links-list-section.__mod-seo-skills.find-us
  .container
    .row
      %h2.m-t-80.m-b-80.text-center Find us in all 50 states
      %ul.col-md-10.col-md-offset-1
        %li
          %a{:href => "javascript:void(0)"} Alabama
        %li
          %a{:href => "javascript:void(0)"} Georgia
        %li
          %a{:href => "javascript:void(0)"} Maine
        %li
          %a{:href => "javascript:void(0)"} Nevada
        %li
          %a{:href => "javascript:void(0)"} Alaska
        %li
          %a{:href => "javascript:void(0)"} Hawaii
        %li
          %a{:href => "javascript:void(0)"} Maryland
        %li
          %a{:href => "javascript:void(0)"} New Hampshire
        %li
          %a{:href => "javascript:void(0)"} Arizona
        %li
          %a{:href => "javascript:void(0)"} Idaho
        %li
          %a{:href => "javascript:void(0)"} Massachusetts
        %li
          %a{:href => "javascript:void(0)"} New Jersey
        %li
          %a{:href => "javascript:void(0)"} Arkansas
        %li
          %a{:href => "javascript:void(0)"} Illinois
        %li
          %a{:href => "javascript:void(0)"} Michigan
        %li
          %a{:href => "javascript:void(0)"} New Mexico
        %li
          %a{:href => "javascript:void(0)"} California
        %li
          %a{:href => "javascript:void(0)"} Indiana
        %li
          %a{:href => "javascript:void(0)"} Minnesota
        %li
          %a{:href => "javascript:void(0)"} New York
        %li
          %a{:href => "javascript:void(0)"} Colorado
        %li
          %a{:href => "javascript:void(0)"} Iowa
        %li
          %a{:href => "javascript:void(0)"} Mississippi
        %li
          %a{:href => "javascript:void(0)"} North Carolina
        %li
          %a{:href => "javascript:void(0)"} Connecticut
        %li
          %a{:href => "javascript:void(0)"} Kansas
        %li
          %a{:href => "javascript:void(0)"} Missouri
        %li
          %a{:href => "javascript:void(0)"} North Dakota
        %li
          %a{:href => "javascript:void(0)"} Missouri
        %li
          %a{:href => "javascript:void(0)"} Delaware
        %li
          %a{:href => "javascript:void(0)"} Kentucky
        %li
          %a{:href => "javascript:void(0)"} Montana
        %li
          %a{:href => "javascript:void(0)"} Ohio
        %li
          %a{:href => "javascript:void(0)"} Florida
        %li
          %a{:href => "javascript:void(0)"} Louisiana
        %li
          %a{:href => "javascript:void(0)"} Nebraska
        %li
          %a{:href => "javascript:void(0)"} Oklahoma
        %li
          %a{:href => "javascript:void(0)"} Oregon
        %li
          %a{:href => "javascript:void(0)"} Virginia
        %li
          %a{:href => "javascript:void(0)"} South Dakota
        %li
          %a{:href => "javascript:void(0)"} Wisconsin
        %li
          %a{:href => "javascript:void(0)"} Tennessee
        %li
          %a{:href => "javascript:void(0)"} Wyoming
        %li
          %a{:href => "javascript:void(0)"} Texas
        %li
          %a{:href => "javascript:void(0)"} Utah
        %li
          %a{:href => "javascript:void(0)"} Vermont



%section.text-center.bg-grass
  .container
    .row
      .col-md-12
        %h2.m-t-80.m-b-40 Book an appointment with the right doctor
        %a.btn.btn-white-border.btn-block-xs.m-b-120{:href =>  "/search"}
          Get Started
