

.container
  %h2 Vertical (basic) form example
  %h2 Patient's details
  %form{:action => "/action_page.php"}
    .form-group
      %label{:for => "full_name"} Full Name:
      %input#email.form-control{:name => "full_name", :placeholder => "Enter email", :type => "email"}/  
    .form-group
      %label{:for => "email"} Email:
      %input#email.form-control{:name => "email", :placeholder => "Enter email", :type => "email"}/
    .form-group
      %label{:for => "date_of_birth"} Date of birth:
      %input#email.form-control{:name => "email", :placeholder => "Enter email", :type => "email"}/      
    .form-group
      %label{:for => "gender"} Gender:
      %input#pwd.form-control{:name => "pwd", :placeholder => "Enter password", :type => "password"}/
    %button.btn.btn-info{:type => "submit"} Book appointment






  %h1 To test bootstrap tag

  %h1 This is the h1 tag

  %h2 This is the h2 tag

  %h3 This is the h3 tag

  %h4 This is the h4 tag

  %h5 This is the h5 tag

  %h6 This is the h6 tag

  %strong This is the strong tag

  %h1
    %strong 
      This is the strong tag under h1

  %h2
    %strong 
      This is the strong tag under h2

  %h3
    %strong 
      This is the strong tag under h3

  %h4
    %strong 
      This is the strong tag under h4

  %h5
    %strong 
      This is the strong tag under h5

  %h6
    %strong 
      This is the strong tag under h6

  %p This is the p tag





