.container
  .my-50
    .row
      %h3 Search Results

      .col-md-12
        - @rooms.each do |room|
          - @reviews = room.reviews 
          - @room = room
          - @photos = room.photos
          - @upgraded = (room.is_upgraded?) ? true : false
          = render "rooms/card"
          #search_results_on_google_map

- content_for :javascript do
  :javascript
    alert("Google map id hide due to some code cleaning issue added in to to list")


    


