.container
  .my-50
    .row
      %h3 Search Results

      .col-md-12
        - @arrRooms.each do |room|
          - @reviews = room.reviews 
          - @room = room
          - @photos = room.photos
          = render "rooms/card"


- content_for :javascript do
  :javascript
    alert("Google Map is hide for now added in to do list");    