- leads = current_doctor.booked_patients
- count = leads.count

.container

  .my-50

    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            My Leads
          .panel-body.box
            - if count > 0
              - leads.order('updated_at desc').each do |patient|
                - @user = patient
                = render "card"
            - else
              .see-all-link 
                There is no leads yet.
                %a{href: '/edit?personal=true'} Increase your trustmeter        
