
.mb-30{
	margin-bottom:30px;
}

.mb-20{
  margin-bottom:20px;
}


.mr-50{
	margin-right: 50px;
}

.my-50{
	margin:50px 0px;
}

.my-25{
	margin:25px 0px;
}

.mt-20{
	margin-top:20px
}

.no-border{
  border: 0px;
}