
.mb-30{
	margin-bottom:30px;
}

.mb-20{
  margin-bottom:20px;
}


.mr-50{
	margin-right: 50px;
}

.my-50{
	margin:95px 0px 50px;
}

.my-25{
	margin:25px 0px;
}

.mt-20{
	margin-top:20px
}

.no-border{
  border: 0px;
}

.ml-60{
  margin-left:60px;
}
.header-fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
}