// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


label.remove{
  color:red;
  font-size:14px;
}

a strong{
  color:#494949;
}