<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Notifications
      </div>
      <div class="panel-body">
        <div class="container">
          <% @activities.each do |activity| %>
			<div class="activity">
			    <%= render_activity activity %>
		  	</div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
