.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        Notifications
      - @activities.each do |activity|
        .panel-body
          .container
            = render_activity activity
