<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Notifications
      </div>
      <% @activities.each do |activity| %>
        <div class="panel-body">
        <div class="container">
          <%= render_activity activity %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
